<h1>Input places I have beeen to</h1>

<%= form_with model: @post do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p<>

  <p>
    <%= form.label "date" %>
    <%= form.text_field "date" %>
  </p>

  <p><%= form.submit %></p>
<% end %>
